

:root {
    /* FONT FAMILY */
    --font-heading: 'Fraunces', serif;
    --font-body: 'Plus Jakarta Sans', sans-serif;

    /* FONT SIZE */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-h3: 2rem;
    --text-h2: 2.5rem;
    --text-h1: 3.2rem;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* LINE HEIGHTS */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-tight: -2px;


    /* COLORS */
    --primary-dark: #3D2314;
    --primary-base: #7A3E21;
    --primary-light: #A35C37;
    
    --secondary-dark: #B88223;
    --secondary-base: #E0A32A;
    --secondary-light: #F4C868;

    --tertiary-dark: #D9CBB8;
    --tertiary-base: #F3EFE6;
    --tertiary-light: #FAF7F2;

    --black: #000;
    --white: #fff;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}


body {
    display: grid;
    height: 100vh;
    background-color: var(--tertiary-light);
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-family: var(--font-body);
}


h1, h2, h3 {
    font-family: var(--font-heading);
}


.logo {
    height: 4.8rem;
    width: 4.8rem;
}


.icon {
    height: 2rem;
    width: 2rem;
    filter: brightness(0) saturate(100%) invert(92%) sepia(4%) saturate(757%) hue-rotate(332deg) brightness(108%) contrast(91%);
}


ul {
    list-style: none;
}


/* -----SIDEBAR----- */

.sidebar {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    background-color: var(--primary-dark);
    grid-row: 1 / 5;
    justify-items: start;
    align-items: center;
    align-content: start;
    row-gap: 6.2rem;
}


.sidebar-heading {
    color: var(--secondary-light);
    font-size: var(--text-h1);
    text-shadow: 2px 2px 4px var(--black);
}


.logo-sidebar {
    justify-self: center;
    height: 5.2rem;
    width: 5.2rem;
}


a {
    text-decoration: none;
    color: var(--tertiary-base);
}


a:hover, a:active {
    color: var(--secondary-base);
}


.utility-icons, .menu-icons {
    display: grid;
    justify-self: center;
    gap: 2.8rem;
}


.menu-links, .utility-links {
    display: grid;
    font-size: var(--text-base);
    gap: 2.8rem;
}


/* -----HEADER----- */

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 2 / 5;
    height: 18vh;
    background-color: var(--tertiary-base);
    box-shadow: 2px 2px 4px var(--tertiary-dark);
    margin-bottom: 3rem;
    align-items: center;
    justify-items: start;
}


.search-icon {
    filter: brightness(0) saturate(100%);
    
}


input {
    width: 35vw;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    background-color: var(--tertiary-dark);
    color: var(--primary-dark);
}


input:focus {
    outline: none;
    box-shadow: 0px 0px 4px var(--primary-base);
}


.header-search {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: center;
    margin-left: 3rem;
}


.heading-logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    font-size: var(--text-h2);
    margin-left: 1.8rem;
    color: var(--primary-dark);
}


.logo-header {
    height: 7rem;
    width: 7rem;
    filter: drop-shadow(2px 2px 6px var(--primary-light));
}


.user-account-section {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-items: center;
    align-items: center;
    color: var(--primary-dark);
}


.user-name {
    font-size: var(--text-h3);
}


.profile-icon, .notification-icon  {
    filter: brightness(0) saturate(100%) invert(57%) sepia(6%) saturate(4955%) hue-rotate(359deg) brightness(92%) contrast(85%);
    height: 2.8rem;
    width: 2.8rem;
}


.header-action-button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  
}


.btn {
    border: none;
    padding: 1rem;
    background-color: var(--secondary-dark);
    color: var(--tertiary-light);
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}


.btn:hover {
    background-color: var(--tertiary-dark);
    color: var(--primary-base);
    box-shadow: 0 8px 16px var(--secondary-dark);
}


/* -----CARD SECTION----- */

.card-container {
    display: grid;
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 2rem;
    
    
}


.product-card {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    align-items: start;
    gap: 2rem;
    
    
}


.card {
    background-color: var(--tertiary-base);
    border: 1px solid var(--tertiary-dark);
    padding: 2rem;

}


p {
    font-size: var(--text-sm);
    padding: 1rem 0;
    line-height: var(--line-height-normal);
}


h3 {
    font-size: var(--text-base);
}


/* -----SIDE PANEL CARDS----- */

/* -----Announcement----- */

.announcement-container {
    display: grid;
    border: 1px solid var(--secondary-base);
    background-color: var(--tertiary-dark);
    width: 30rem;
    gap: 1.2rem;
}


/* -----Trending----- */

.trending-container {
    display: grid;
    border: 1px solid var(--secondary-base);
    background-color: var(--tertiary-dark);
    width: 30rem;
    gap: 1.2rem;
}


